body {
    background-image:url(img/background.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    min-height: 80vh;
    width: 80%;
    font-family: "Roboto", sans-serif;
  }

  h1 {
    text-align: center;
    padding-top: 15px;
    margin-left: 250px;
    color: white;
  }
  p {
    text-align: center;
    padding-top: 20px;
    font-size: 15px;
    color: white;
    margin-left: 250px;
  }
  .submit-button {
    margin-top: 20px;
    width: 315px;
}
.ktt {
    color: white;
    margin-top: 5px;
    width: 200px;
    padding-left: 10px;
    margin-left: 480px;
}
label {
    display: block;
}
p a {
    color: white;
}
form {
    width: 300px;
    margin-left: 20px;
  }
  
  form label {
    display: flex;
    margin-top: 20px;
    font-size: 18px;
  }
  
  form input {
    width: 100%;
    padding: 7px;
    border: none;
    border: 1px solid gray;
    border-radius: 6px;
    outline: none;
  }
  .akk {
      margin-top: 20px;
      width: 318px;
  }